<!DOCTYPE html>
<html>
<head>
	<title>2-6</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
	<!--v-model 双向数据绑定-->
	<input type="text" name="serach" v-model="inputValue">
	<button v-on:click="handleBtnClick">搜索</button>
	<ul>
		<todo-item v-bind:content="list" v-for="list in lists"></todo-item>
	</ul>
</div>
<script type="text/javascript">
	/*
	 * 这里是全局组件
	 */
	//component用于组件模块化使用
	//第一个参数：组件名，注意命名规范，如果采用驼峰命名方式的话，首字母大写即为小写，并且前面要加上"-"
	//第二个参数：创建模版添加
	Vue.component("TodoItem",{
		//props:组件传值（我忘记了事父传子还是子传父）
		props:['content'],
		template:"<li>{{content}}</li>"
	})

	var app = new Vue({
		el:"#app",
		data:{
			lists:[],
			inputValue:''
		},
		methods:{
			handleBtnClick:function(){
				this.lists.push(this.inputValue);
				/*每次向li数组中添加数据后自动置空*/
				this.inputValue = ''
			}
		}
	})
</script>
</body>
</html>